@charset "UTF-8";
/* background-color*/
/* color heart icon */
/* end color heart icon*/
/* début button order  posséde la couleur $primary */
/* $primary:#9356DC; */
/* button order */
/* fin button order */
/* color dans la case new  posséde la $color:tertiary; */
/* $primary:#9356DC;*/
/* color box-shadows*/
/*loader*/
/* $tertiary:color #99E2D0;
/* $primary:color #9356DC;

/* fin loader */
/* loader wrapper */
/*fin loader wrapper */
/* options containers hover*/
/* button restaurant */
/* $primary: #99E2D0; */
@-webkit-keyframes fullheart {
  0% {
    opacity: 0.25;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  25% {
    opacity: .33;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    opacity: .50;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  75% {
    opacity: .75;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    opacity: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 0;
  }
}
@keyframes fullheart {
  0% {
    opacity: 0.25;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  25% {
    opacity: .33;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    opacity: .50;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  75% {
    opacity: .75;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    opacity: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(#ce5cc6), color-stop(43%, #f085e9), color-stop(70%, #8d4bc0), to(#9241df));
    background: linear-gradient(to top, #ce5cc6 0%, #f085e9 43%, #8d4bc0 70%, #9241df 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 0;
  }
}

@-webkit-keyframes loader {
  to {
    opacity: 0;
  }
}

@keyframes loader {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-top-color: #99E2D0;
    border-bottom-color: #DE1F1F;
  }
  25% {
    border-top-color: #99E2D0;
    border-bottom-color: #223cb5;
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
    border-top-color: #DE1F1F;
    border-bottom-color: #99E2D0;
  }
  75% {
    border-top-color: #37B522;
    border-bottom-color: #9356DC;
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #DE1F1F;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-top-color: #99E2D0;
    border-bottom-color: #DE1F1F;
  }
  25% {
    border-top-color: #99E2D0;
    border-bottom-color: #223cb5;
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
    border-top-color: #DE1F1F;
    border-bottom-color: #99E2D0;
  }
  75% {
    border-top-color: #37B522;
    border-bottom-color: #9356DC;
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #DE1F1F;
  }
}

@-webkit-keyframes my_anim {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes my_anim {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotationcircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotationcircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .operation h2 {
    margin-right: 73%;
    margin-top: 44px;
    margin-bottom: 41px;
    margin-left: -198px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: Roboto,Arial, Helvetica, sans-serif;
}

body .loader_wrapper {
  opacity: 0;
}

html {
  scroll-behavior: smooth;
}

.page_wrapper {
  font-size: inherit;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.logo img {
  width: 195px;
  margin-left: -53px;
}

p {
  color: #716d6d;
}

.navigation {
  margin-inline: -8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer_page {
  background-color: #151515db;
  color: #ffffff;
  padding-bottom: 20px;
  margin-inline: -8px;
}

.footer_otherpage {
  background-color: #151515db;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer_otherpage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  margin-left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_otherpage ul li i {
  padding-right: 10px;
}

.footer_otherpage a {
  color: white;
}

.fa .far,
.fas {
  font-weight: 900;
  font-family: "font awesome 5 free";
}

.place {
  border: 0.5px solid rgba(187, 178, 178, 0.664);
  background-color: #beb4b454;
  height: 65px;
  border-width: 5px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

ul {
  list-style: none;
}

.city_position {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: #000000;
  background-color: #beb4b400;
}

.button_restaurant {
  font-size: 21px;
  margin-top: 45px;
  padding: 25px;
  border-radius: 50px;
  color: #f2f2f2;
  background-color: #9356DC;
  margin-bottom: 56px;
  -webkit-box-shadow: 4px 6px 10px rgba(165, 165, 165, 0.774);
          box-shadow: 4px 6px 10px rgba(165, 165, 165, 0.774);
  border: none;
  -webkit-transition: -webkit-box-shadow 0.8s;
  transition: -webkit-box-shadow 0.8s;
  transition: box-shadow 0.8s;
  transition: box-shadow 0.8s, -webkit-box-shadow 0.8s;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #e2aafbb3), color-stop(43%, #E270DA), color-stop(80%, #a55cdb78), to(#9356DC));
  background-image: linear-gradient(to bottom right, #e2aafbb3 10%, #E270DA 43%, #a55cdb78 80%, #9356DC 100%);
  display: inline-block;
}

.button_restaurant a {
  color: #ffffff;
}

.button_restaurant:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: 6px 6px 5px #20202054;
          box-shadow: 6px 6px 5px #20202054;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.footer_page ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  margin-left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_page ul li i {
  padding-right: 10px;
}

.footer_page a {
  color: white;
}

.background {
  background-color: #f6f6f6;
  padding-top: 10px;
}

.eatery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  margin-inline: -8px;
  padding-bottom: 70px;
}

.eatery h2 {
  margin-left: 22px;
  margin-top: 66px;
}

.fa-mobile-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

.operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.operation h2 {
  margin-right: 54%;
  margin-top: 44px;
  margin-bottom: 40px;
}

.operation_bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 75px;
  margin-left: 13px;
  height: 30px;
  width: 30px;
  background: #9356DC;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.operation .containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 88%;
  height: 80px;
  margin: 20px auto;
  background: #f6f6f6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-box-shadow: 8px 9px 23px -2px #e7e7e7;
          box-shadow: 8px 9px 23px -2px #e7e7e7;
  list-style: none;
}

.operation .containers:hover {
  background-color: #9356dc24;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-shadow: 5px 3px 12px 1px #b5b5b59e;
          box-shadow: 5px 3px 12px 1px #b5b5b59e;
}

.operation .containers:hover i {
  color: #9356DC;
}

.operation .containers strong {
  margin-left: 300px;
}

.operation ul {
  margin-left: -25px;
}

.operation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.operation ul li i {
  line-height: 49px;
}

.card_eatery {
  position: relative;
  width: 100%;
}

.card_eatery img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 26px 26px 0 0;
  height: 320px;
  cursor: pointer;
}

.heart_otherpage:hover .fa-heart {
  opacity: 1;
  color: #9356DC;
  -webkit-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
  -webkit-animation: fullheart 300ms linear forwards;
          animation: fullheart 300ms linear forwards;
  opacity: 1;
}

.heart_otherpage .fa-heart {
  margin-top: -39px;
}

.heart_container {
  margin-right: 50px;
  margin-top: 20px;
}

.heart_container .fa-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 38px;
  margin-left: -44px;
}

.heart_container .heart {
  opacity: 0;
  z-index: 2;
}

.heart_container .heart:hover {
  opacity: 1;
  color: #9356DC;
  -webkit-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
  -webkit-animation: fullheart 300ms linear forwards;
          animation: fullheart 300ms linear forwards;
  opacity: 1;
}

.heart_container:hover .fa-heart {
  opacity: 1;
  color: #9356DC;
  -webkit-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
  -webkit-animation: fullheart 300ms linear forwards;
          animation: fullheart 300ms linear forwards;
  opacity: 1;
  font-size: 30px;
}

card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  background-color: #ffffff;
  border-radius: 26px 26px 26px 26px;
  margin-left: 20px;
  margin-top: 17px;
  position: relative;
}

.card_containers_pictures img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 26px 26px 0 0;
  height: 320px;
  cursor: pointer;
}

.card_containers_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_containers_title h3 {
  margin-bottom: 0;
}

.card_containers_title p {
  margin-bottom: 15px;
  margin-top: 0;
}

.card_containers_new {
  position: absolute;
  right: 31px;
  background-color: #99E2D0;
  padding: 10px;
  border-radius: 5px;
  color: #0b690b;
  margin-top: 17px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -63px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  margin-left: 38px;
  margin-top: 0;
  padding-top: 34px;
  font-size: larger;
  font-weight: 100;
}

.title_menu {
  margin-top: 50px;
  margin-bottom: 20px;
}

.title_menu ::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 46px;
  background-color: #99E2D0;
  height: 4px;
  margin-top: 8px;
}

p, h3 {
  margin-left: 15px;
}

.contained_details {
  font-family: 'Shrikhand', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contained_details h1 {
  margin: 0;
}

.homepage {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.body_page {
  margin: 0;
}

.menu {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 12px;
  margin-top: -93px;
  display: inline-block;
  border-radius: 40px 40px 0 0;
}

.arrow {
  position: absolute;
  left: 60px;
  top: 8px;
  font-size: 30px;
}

.eating_menu {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-box-shadow: 6px 6px 4px #e7e7e7;
          box-shadow: 6px 6px 4px #e7e7e7;
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-animation-name: my_anim;
          animation-name: my_anim;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.eating_menu--titles {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.eating_menu--titles h3 {
  font-size: 1em;
  font-weight: bold;
}

.eating_menu--titles p {
  font-size: 0.9em;
  color: #716d6d;
}

.eating_menu--price {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.check {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  color: #fafafa12;
  background-color: #99E2D0;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 69px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100px;
  width: 0%;
  margin-right: 0;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.eating_menu:hover .check {
  display: inline-block;
  font-size: 22px;
  color: #ffffff;
  background-color: #99E2D0;
  width: 58px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.eating_menu:hover i.rotation {
  -webkit-animation: rotationcircle 0.3s ease-in-out both;
          animation: rotationcircle 0.3s ease-in-out both;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px 0;
}

.order .button {
  font-size: 21px;
  padding: 18px 25px;
  border-radius: 50px;
  color: #f2f2f2;
  background-color: #9356DC;
  margin-bottom: 60px;
  -webkit-box-shadow: 4px 6px 10px #e7e7e7;
          box-shadow: 4px 6px 10px #e7e7e7;
  border: none;
  -webkit-transition: -webkit-box-shadow 0.8s;
  transition: -webkit-box-shadow 0.8s;
  transition: box-shadow 0.8s;
  transition: box-shadow 0.8s, -webkit-box-shadow 0.8s;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #a55cdb78), color-stop(43%, #f085e9), color-stop(80%, #8d4bc0), to(#9356DC));
  background-image: linear-gradient(to bottom right, #a55cdb78 10%, #f085e9 43%, #8d4bc0 80%, #9356DC 100%);
  width: 48%;
  margin: 0 auto;
}

.order .button:hover {
  cursor: pointer;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-box-shadow: 6px 6px 5px #20202054;
          box-shadow: 6px 6px 5px #20202054;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

/*Acceuil chargement*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f2b33;
  opacity: 1;
  -webkit-animation: loader 400ms 1.5s forwards;
          animation: loader 400ms 1.5s forwards;
  pointer-events: none;
  z-index: 2;
}

/*fin de chargement*/
.loader {
  border: 16px solid #bdc3c7;
  width: 200px;
  height: 200px;
  border-top-color: #99E2D0;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
  -webkit-animation: loadingscreen 500m 1.75s forwards;
          animation: loadingscreen 500m 1.75s forwards;
  position: fixed;
  opacity: 1;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  border: 3px solid #838330;
}

.loadingscreen {
  -webkit-animation: loadingscreen 2s;
          animation: loadingscreen 2s;
  z-index: -1;
  opacity: 0;
}

.page_wrapper {
  font-size: 13px;
}

.arrow {
  left: 20px;
}

.operation h2 {
  margin-left: 46px;
  margin-top: 44px;
  margin-bottom: 40px;
}

.eating_menu--titles {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p, h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 92%;
}

.place {
  padding-left: 81px;
}

.logo {
  padding-left: 82px;
}

.card_containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.card_containers_pictures img {
  height: 230px;
}

.button_restaurant {
  font-size: 18px;
}

.heart_container {
  margin-right: 50px;
  margin-top: 32px;
}

.heart_container .fa-heart {
  margin-left: -34px;
  font-size: 30px;
}

.heart {
  margin-top: -29px;
}
/*# sourceMappingURL=style.css.map */