@import 'themes/_variables';
@import 'themes/keyframes';
@import 'themes/breakpoint';

* { 
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: Roboto,Arial, Helvetica, sans-serif;

  .loader_wrapper {
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth; 

}

.page_wrapper {
  font-size: inherit;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;    
  img {
    width: 195px;
    margin-left: -53px;
  }
}

p {
  color: $grayclause;
}
.navigation { 
  margin-inline: -8px;
  justify-content: center;
  text-align: center;
}

.footer_page {
  background-color: $background-color;
  color: $white;
  padding-bottom: 20px;
  margin-inline: -8px;
  
}

.footer_otherpage {
  background-color: $background-color;
  color: $white;
  padding-bottom: 20px;
  ul {
    display: flex;
    gap: 26px;
    margin-left: 0;
    flex-direction: column;
  li {  
    i {
      padding-right: 10px;
    }
  }
  }


  a {
    color: white;
  }
}

.place {
  border: 0.5px solid rgba(187, 178, 178, 0.664);
  background-color: #beb4b454;
  height: 65px;
  border-width: 5px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

ul {
  list-style: none;
}

.city_position {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: $black;
  background-color: #beb4b400;
}

.button_restaurant {
  font-size: 21px;
  margin-top: 45px;
  padding: 25px;
  border-radius: 50px;
  color: $color-titles;
  background-color: $primary;
  margin-bottom: 56px;
  box-shadow: 4px 6px 10px rgba(165, 165, 165, 0.774);
  border: none;
  transition: box-shadow 0.8s;
  background-image: linear-gradient(to bottom right, $color-button1 10%,$color-button2 43%, $color-button3 80%, $primary 100%);
  display: inline-block;
  
  a {
    color: $white;
  }

  &:hover {    
    cursor: pointer;
    filter: brightness(120%);
    box-shadow:  6px 6px 5px #20202054;
    transition: transform 0.3s;
  }
}


.footer_page {
  ul {
    display: flex;
    gap: 26px;
    margin-left: 0;
    flex-direction: column;
  li {  
    i {
      padding-right: 10px;
    }
  }
  }


  a {
    color: white;
  }
}

.background {
  background-color: $gray;
  padding-top: 10px;
  
}

.eatery {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  margin-inline: -8px;
  padding-bottom: 70px;
  
  h2 {
    margin-left: 22px;
    margin-top: 66px;
  }
}

.fa-mobile-alt {
  display: flex;
  gap: 26px;
}

.operation {
  display: flex;
  flex-direction: column;
  
  h2 {
    margin-right: 54%;
    margin-top: 44px;
    margin-bottom: 40px;
  } 

  &_bubble {
  display: flex;
  position: relative;
  top: 75px;
  margin-left: 13px;
  height: 30px;
  width: 30px;
  background: $primary;
  border-radius: 50%;
  justify-content: center;
  color: $white;
  align-items: center;
  z-index: 1; 
  } 


  .containers {
    // position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 88%;
    height: 80px; 
    margin: 20px 30px 20px;
    // margin-left: 50px;
    background: $gray;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 8px 9px 23px -2px $color-box-shadows;
    list-style: none;
    &:hover {
      background-color: $color-containers;
      transition: 0.8s;
      box-shadow: 5px 3px 12px 1px #b5b5b59e;
    
    i {
      color: $primary;
    }
    }
    strong {
      margin-left: 300px;
    }
  }
  ul {
    margin-left: -25px;
    li {
      display: flex;
      flex-direction: row;
      i {
        line-height: 49px;
      }
    }
}


}

.card_eatery {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 26px 26px 0 0;
    height: 320px;
    cursor: pointer;
  }
}

.card_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.card_containers {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: $white;
  border-radius: 26px 26px 26px 26px ;
  margin-left: 20px;
  margin-top: 17px;
  position: relative;

  &_pictures {
  img {   
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 26px 26px 0 0;
  height: 320px;
  cursor: pointer;
    
  }
  }
  &_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 15px;
      margin-top: 0;
    }
    .heart_container {
      margin-right: 30px;
    }
  }

  &_new {     
  position: absolute;
  right: 31px;
  background-color: $tertiary;
  padding: 10px;
  border-radius: 5px;
  color: $color-new;
  margin-top: 17px; 
  }


}


.options {
  display: flex;
  flex-direction: column;
  margin-top: -63px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: $black;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  margin-left: 38px;
  margin-top: 0;
  padding-top: 34px;
  font-size: larger;
  font-weight: 100;
}



.title_menu {
  margin-top: 50px;
  margin-bottom: 20px;
  ::after {
  display: flex;
  content: '';
  width: 46px;
  background-color: $tertiary;
  height: 4px;
  margin-top: 8px;
}
}
p,h3{
  margin-left: 15px;
}


.contained_details {     
  font-family: 'Shrikhand', cursive;
  display: flex;
  justify-content: space-around;  
  h1 {
    margin: 0;
  }
  
}

.homepage{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.body_page {
  margin: 0;
}

.menu {
  width: 100%;
  background-color: $gray;
  padding-top: 12px;
  margin-top: -93px;
  display: inline-block;
  border-radius: 40px 40px 0 0;
}


.arrow {
  position: absolute;
  left: 60px;
  top: 8px;
  font-size: 30px;
}


.eating_menu {
  background-color: $white;
  border-radius: 20px;
  margin: 0 14px; 
  // width:93%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; 
  // gap:5px;
  // padding-left:10px;
  overflow: hidden;  
  transition: transform 330ms ease-in-out;
  animation-fill-mode: backwards;
  box-shadow: 6px 6px 4px $color-box-shadows;   
  cursor: pointer;
  margin-bottom: 15px;
  animation-name: my_anim;
  animation-duration: 2000ms;
  animation-delay: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  &--titles {
  flex: 100%;
  h3 {
    font-size: 1em;
    font-weight: bold;
  }
  p {
    font-size: 0.9em;
    color: $grayclause;
  }
  }
    &--price {
    margin: 15px;
    display: flex;
    align-items: flex-end;
  }
}

.check
{

  cursor: pointer;       
  display: flex;
  font-size: 22px;
  color: #fafafa12;
  background-color: $tertiary; 
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-height: 69px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  flex-wrap: wrap;
  max-width: 100px;
  width: 0%;
  margin-right: 0;
  transition-duration: .5s;
transition-timing-function: ease;
}





  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;  
  // font-size:18px;
  // margin-top: 27px;
  // margin-left: 59px;
  // margin-bottom: 18px;




//.price_details

  // display: flex;
  // flex-direction:row;
  // justify-content: space-between;  
  // align-items:baseline;
  // cursor: pointer;
  // flex-wrap:nowrap; 
  // margin-bottom: -16px;
  // margin-left: 7px;
  // padding-bottom: 0px;
  // padding: 8px;
  // padding-bottom: 2px;




//.prix

  // margin-right:15px;
  // margin-bottom:11px;


  //  .check
 //   {
  
  //    cursor: pointer;       
  //     background-color: #99E2D0; 
//      cursor: pointer;
//      justify-content: center;
//      align-items: center;
  //     min-height:69px;
  //     border-bottom-right-radius: 20px;
  //     border-top-right-radius: 20px;
  //    flex-wrap: wrap;
  //     max-width:0px;
  //     width:0%;
  //    margin-right: 0;
  //     margin-left: auto;
  //    transition-duration: .5s;
  //   transition-timing-function: ease;
  //   z-index: 1;
  //  }


.eating_menu:hover .check {
  display: inline-block;
  font-size: 22px;
  color: $white;
  background-color: $tertiary; 
  width: 58px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;    
  transition-duration: .6s;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eating_menu:hover i.rotation   {
  animation: rotationcircle 0.3s ease-in-out both;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 45px 0;
  .button {
    font-size: 21px;
    padding: 18px 25px;
    border-radius: 50px;
    color: $color-titles;
    background-color: $primary;
    margin-bottom: 60px;
    box-shadow: 4px 6px 10px $color-box-shadows;
    border: none;
    transition: box-shadow 0.8s;
    background-image: linear-gradient(to bottom right, $primary 10%, $secondary 43%, $heart-color1 80%, $primary 100%); 
    width: 48%;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
      filter: brightness(110%); 
      box-shadow:  6px 6px 5px #20202054;
      transition: transform 0.3s;
    }
  }
}
/*Acceuil chargement*/
#loader-wrapper  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: $color-loader-wrapper;  
  opacity: 1;    
  animation: loader 400ms 1.5s forwards;
  pointer-events: none;
  z-index: 2;
}


/*fin de chargement*/

.loader {
  border: 16px solid $color-loader;
  width: 200px;
  height: 200px;
  border-top-color: $tertiary;
  border-bottom-color: $primary;
  border-radius: 50%;
  animation: loading 1s linear infinite ;  
  position: fixed;
  opacity: 1;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  animation-fill-mode: forwards;
  border: 3px solid rgb(131, 131, 48);
}




.loadingscreen
{
	animation: loadingscreen 2s;	  
  z-index: -1;
  opacity: 0;
}







//////
.page_wrapper {
  font-size: 13px; 
}
  


.arrow {
  left: 20px;
}

.operation h2 {
  margin-left:  46px;
  margin-top: 44px;
  margin-bottom:  40px;

}

.eating_menu--titles {
  flex: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p, h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 92%;
}


.place {
  padding-left: 81px;
}

.logo {
  padding-left: 82px;
}

.card_containers {
  display: flex;
  width: 90%;
  &_pictures img {
    height: 230px;
  }

}


.button_restaurant {
  font-size: 18px;
}


.heart_container {
  .fa-heart {
    margin-left: -34px;
    font-size: 30px;
  }
}
.heart {
  margin-top: -29px;
}



.fa-heart {
  padding: 1px;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    display: block;
    background: -webkit-linear-gradient($primary, $secondary, $heart-color1,$heart-color2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 350ms;
    transform: scale(1.1);
    font-weight: bold;
  }
}